/* About us section */

.about-us-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 60%;
}

.about-us-container div {
    width: 50%;
    text-align: justify;
    background-color: var(--secondary-color);
    padding: 40px;
    border: 2px solid var(--accent-color);
}

.about-us-container img {
    width: 480px;
    height: 480px;
    padding: 24px;
    object-fit: cover;
}

.about-us-container h3 {
    font-size: 32px;
    text-align: left;
} 

.about-us-container h5 {
    padding: 8px 0 32px 0;
    font-weight: 400;
    text-transform: uppercase;
}

.about-us-container p {
    line-height: 1.5;
}

.about-us-container:first-child {
    margin-top: 32px;
}

.about-us-container:last-child {
    margin-bottom: 32px;
}