/* Portfolio */

.portfolio-section h2 {
    text-align: center;
    padding: 32px;
}

.portfolio-section h3 {
    text-align: center;
    padding: 16px;
}

.couple-container {
    display: flex;
    gap: 40px;
    height: 400px;
    padding: 24px 40px 40px 40px;
}

.couple-container img {
    width: calc((100% - 80px) / 3);
    object-fit: cover;
}